body {
    margin: 0;
}

img {
    margin: 0;
}

#enemyImage {
    transform: scaleX(-1);
    display: none;
}

#enemyImage2 {
    display: none;
}

#backgroundImage {
    display: none;
}

#startButton {
    font-size: 40px;
}

#canvas2 {
    display: none;
}

#canvas3 {
    display: none;
}

#level2 {
    display: none;
}

#level3 {
    display:none;
}