body {
    margin: 0;
}

img {
    margin: 0;
}

#enemyImage {
    transform: scaleX(-1);
    display: none;
}

#enemyImage2 {
    display: none;
}

#backgroundImage {
    display: none;
}

#startButton {
    font-size: 40px;
}

#startButtonDiv {
    position:absolute;
    background-color: black;
}

#level2Div {
    position:absolute;
    background-color: black;
}

#level3Div {
    position:absolute;
    background-color: black;
}

#youloseDiv {
    position: absolute;
    background-color: black;
    color: white;
}

#canvas1 {
    border: solid;
}

#canvas2 {
    display: none;
    border: solid;
}

#canvas3 {
    display: none;
    border: solid;
}

#level2 {
    display: none;
}

#level3 {
    display:none;
}

