body {
    margin: 0;
    background-color: gray;
    background-repeat: repeat;
    font-family: sans-serif;
}

img {
    margin: 0;
}

#enemyImage {
    display: none;
}

#enemyImage2 {
    display: none;
}

#backgroundImage {
    display: none;
}

#startButton {
    position: absolute;
    font-size: 40px;
    top: 250px;
    left: 28%;
}

#level2 {
    position: absolute;
    font-size: 40px;
    display: none;
    top: 250px;
    left: 35%;
}

#level3 {
    position: absolute;
    font-size: 40px;
    display: none;
    top: 250px;
    left: 35%;
}

#startButtonDiv {
    background-image: url("images/wallpaper5.jpg");
    position: absolute;
    background-color: black;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 10px;
    color:white;
    text-align: center;
    top: 110px;
    left: 700px;
}

#level2Div {
    background-image: url("images/wallpaper5.jpg");
    position: absolute;
    background-color: black;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 10px;
    color:white;
    text-align: center;
    top: 110px;
    left: 700px;
    display: none;
}

#level3Div {
    background-image: url("images/wallpaper5.jpg");
    position: absolute;
    background-color: black;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 10px;
    color:white;
    text-align: center;
    top: 110px;
    left: 700px;
    display: none;
}

#youloseDiv {
    background-image: url("images/wallpaper5.jpg");
    position: absolute;
    background-color: black;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 10px;
    color:white;
    text-align: center;
    top: 110px;
    left: 700px;
    display: none;
}

#youwinDiv {
    background-image: url("images/wallpaper5.jpg");
    position: absolute;
    background-color: black;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 10px;
    color:white;
    text-align: center;
    top: 110px;
    left: 700px;
    display: none;
}

#youloseP {
    position: absolute;
    font-size: 40px;
    top: 200px;
    left: 35%;
}

#youwinP {
    position: absolute;
    font-size: 40px;
    top: 200px;
    left: 33%;
}

#canvas1 {
    border: solid;
    border-radius: 50px;
    border-width: 20px;
}

#canvas2 {
    display: none;
    border: solid;
    border-radius: 50px;
    border-width: 20px;
}

#canvas3 {
    display: none;
    border: solid;
    border-radius: 50px;
    border-width: 20px;
}

#level2 {
    display: none;
}

#level3 {
    display:none;
}

canvas {
    background-image: url("images/background3.jpg");
}
